:root {
    --background-color: #2e3436;
    --text-color: #eeeeec;
    --spacing: 6pt;
    --link-color: #73d216;
}

body {
    background-color: black;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    position: fixed;
    bottom: var(--spacing);
    left: var(--spacing);
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    color: var(--link-color) !important;
}

[draggable] * {
    pointer-events: none;
}

#series-browser {}

#compilation-browser {}

#loadingScreen {
    position: absolute;
    width: 200px;
    height: 50px;
    left: calc(50vw - 100px);
    top: calc(50vh - 25px);
    z-index: 99999;
    border: solid 1px white;
    background-color: black;
    border-radius: 4pt;
    text-align: center;
    padding-top: 30px;
}

.mainTable td {
    vertical-align: top;
}